@model IEnumerable<ParsingProjectMVC.Models.KuyuModel>

<div class="text-center">
    <h1 class="display-4">Kuyular</h1>

    <div class="d-flex justify-content-center mb-3">
        <form asp-action="Create" method="post" class="d-flex" style="max-width: 500px ;">
            <input type="text" name="sahaAdi" class="form-control me-2" placeholder="Kuyu Adını Giriniz" required />
            <button type="submit" class="btn btn-success">Ekle</button>

        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kuyu Adı</th>
                <th>Enlem</th>
                <th>Boylam</th>
                <th>Güncelle/Sil</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var kuyu in Model)
            {
                <tr>
                    <td>@kuyu.Id</td>
                    <td>@kuyu.KuyuAdi</td>
                    <td>@kuyu.Enlem</td>
                    <td>@kuyu.Boylam</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@kuyu.Id" class="btn btn-primary btn-sm">Güncelle</a>
                        <form asp-action="Delete" asp-controller="Kuyular" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@kuyu.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">X</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
        {
            <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                <a class="page-link" href="/Kuyular/Index?pageNumber=@i&pageSize=@ViewBag.PageSize">@i</a>
            </li>
        }
    </ul>
</nav>
