@model IEnumerable<ParsingProjectMVC.Models.WellboreModel>

<div class="text-center">
    <h1 class="display-4">Wellborelar</h1>

    <div class="d-flex justify-content-center mb-3">
        <form asp-action="Create" method="post" class="d-flex" style="max-width: 500px;">
            <input type="text" name="wellboreAdi" class="form-control me-2" placeholder="Wellbore Adını Giriniz" required />
            <button type="submit" class="btn btn-success">Ekle</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Wellbore Adı</th>
                <th>Derinlik(m)</th>
                <th>Güncelle/Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wellbore in Model)
            {
                <tr>
                    <td>@wellbore.Id</td>
                    <td>@wellbore.WellboreAdi</td>
                    <td>@wellbore.Derinlik</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@wellbore.Id" class="btn btn-primary btn-sm">Güncelle</a>
                        <form asp-action="Delete" asp-controller="Wellborelar" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@wellbore.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">X</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
        {
            <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                <a class="page-link" href="/Wellborelar/Index?pageNumber=@i&pageSize=@ViewBag.PageSize">@i</a>
            </li>
        }
    </ul>
</nav>
