<div class="text-center">
    <h1 class="display-4">Sahalar</h1>

    <div class="text-right mb-3">
        <a asp-action="Create" class="btn btn-success">Add New Saha</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Saha Adı</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var saha in Model)
            {
                <tr>
                    <td>@saha.Id</td>
                    <td>@saha.SahaAdi</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@saha.Id" class="btn btn-primary btn-sm">Update</a>
                        <form asp-action="Delete" asp-controller="SahalarController" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@saha.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">X</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
        {
            <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                <a class="page-link" href="/Sahalar/Index?pageNumber=@i&pageSize=@ViewBag.PageSize">@i</a>
            </li>
        }
    </ul>
</nav>
