@model IEnumerable<ParsingProjectMVC.Models.KuyuGrubuModel>

<div class="text-center">
    <h1 class="display-4">Kuyu Grupları</h1>

    <div class="d-flex justify-content-center mb-3">
        <form asp-action="Create" method="post" class="d-flex" style="max-width: 500px;">
            <input type="text" name="kuyuGrubuAdi" class="form-control me-2" placeholder="Kuyu Grubu Adını Giriniz" required />
            <button type="submit" class="btn btn-success">Ekle</button>
        </form>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kuyu Grubu Adı</th>
                <th>Güncelle/Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kuyuGrubu in Model)
            {
                <tr>
                    <td>@kuyuGrubu.Id</td>
                    <td>@kuyuGrubu.KuyuGrubuAdi</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="setUpdateFields('@kuyuGrubu.Id', '@kuyuGrubu.KuyuGrubuAdi')">Güncelle</a>
                        <form asp-action="Delete" asp-controller="KuyuGruplari" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@kuyuGrubu.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">X</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
        {
            <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                <a class="page-link" href="/KuyuGruplari/Index?pageNumber=@i&pageSize=@ViewBag.PageSize">@i</a>
            </li>
        }
    </ul>
</nav>

<!-- Update Kutusu -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="display: flex; align-items: center; justify-content: center;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Kuyu Grubu Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <form asp-action="Update" asp-controller="KuyuGruplari" method="post">
                <div class="modal-body">
                    <input type="hidden" id="updateId" name="id" />
                    <div class="form-group">
                        <label for="updateKuyuGrubuAdi">Kuyu Grubu Adı</label>
                        <input type="text" class="form-control" id="updateKuyuGrubuAdi" name="KuyuGrubuAdi" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function setUpdateFields(id, kuyuGrubuAdi) {
        document.getElementById('updateId').value = id;
        document.getElementById('updateKuyuGrubuAdi').value = kuyuGrubuAdi;
    }
</script>
